<h1>Student #<%= @student.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @student.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @student.email %></p>
</div>
<div>
  <strong>Corses Enrolled In</strong>:<br />
  <p><%= @student.enrollments.each do |work|
end  %></p>
</div>
<a href="/students/<%= @student.id %>/edit">Edit</a> |
<a href="/students/<%= @student.id %>/destroy">Destroy</a>
